{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="mt-5">Bienvenu sur You Library !</h1>
    <p>Vous pouvez retrouver ici nos derniers livres</p>
    <div class="row mt-4">
      {% for book in books %}
        {% include "components/book.html.twig" %}
      {% endfor %}
    </div>
    <a href="{{ path('movies') }}" class="btn btn-dark mt-4 float-right">Voir tous nos livres</a>
  </div>
{% endblock %}
