{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} - Vos favoris
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="mt-5">Voici les livres favoris</h1>
    <div class="row mt-4">
      {% for book in books %}
        {% include "components/book.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
