{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} - Nos Films
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row mt-4">
      {% for book in books %}
        {% include "components/book.html.twig" %}
      {% endfor %}
    </div>
    {% if previous >= 0 %}
      <a 
        href="{{ path('books', { offset: previous }) }}" class="btn btn-dark">Précédente</a>
    {% endif %}
    {% if next < books|length %}
      <a href="{{ path('books', { offset: next }) }}" class="btn btn-dark float-right">Prochaine</a>
    {% endif %}
  </div>
{% endblock %}
